// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
*
* ===========================================================
*     NAVBAR
* ===========================================================
*
*/
.navbar {
 border-bottom: 2px solid #eee;
 background: #fff;
}

@media (min-width: 768px) {
 .navbar .dropdown-menu {
   margin-top: 1.1rem;
 }
}

@media (max-width: 991.98px) {
 .navbar .dropdown-menu {
   border: none;
 }
}

.navbar .nav-link.active {
 color: #540CFA;
}

.navbar .navbar-toggler i {
 font-size: 1.2rem;
}

.navbar-brand {
 width: 7.5rem;
}

.navbar-nav .nav-link {
 font-weight: 700;
 color: #333;
}


